<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="PMTGIT2-ear">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="PMTGIT2-web.war" deploy-path="/" handle="module:/resource/PMTGIT2-web/PMTGIT2-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="PMTGIT2-ejb.jar" deploy-path="/" handle="module:/resource/PMTGIT2-ejb/PMTGIT2-ejb">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
